absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
ase==3.22.1
async-timeout==4.0.2
asynctest==0.13.0
attrs==22.2.0
backcall==0.2.0
beautifulsoup4==4.11.2
bleach==6.0.0
brotlipy==0.7.0
cachetools==5.3.0
certifi
cffi
charset-normalizer
click==8.1.3
cryptography
cycler==0.11.0
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
fastjsonschema==2.16.3
filelock==3.9.0
flit_core
fonttools==4.38.0
frozenlist==1.3.3
future==0.18.3
#gensim==4.2.0
google-auth==2.16.1
google-auth-oauthlib==0.4.6
googledrivedownloader==0.4
grpcio==1.51.3
h5py==3.8.0
huggingface-hub==0.12.1
hydra-core==0.11.3
idna
importlib-metadata==6.0.0
importlib-resources==5.12.0
ipykernel==6.16.2
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isodate==0.6.1
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.2
jupyter-server==1.23.6
jupyter_client==7.4.9
jupyter_core==4.12.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
kiwisolver==1.4.4
llvmlite
lmdb==1.4.0
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib
matplotlib-inline==0.1.6
mistune==2.0.5
mkl-fft
mkl-random
mkl-service
msgpack==1.0.4
msgpack-numpy==0.4.8
multidict==6.0.4
nbclassic==0.5.2
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
networkx==2.6.3
nltk==3.8.1
notebook==6.5.2
notebook_shim==0.2.2
numba
#numpy
oauthlib==3.2.2
omegaconf==1.4.1
open3d
openai==0.27.0
opencv-python
ordered-set==4.1.0
packaging==23.0
pandas
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pkgutil_resolve_name==1.3.10
plyfile==0.7.4
#-e git+https://github.com/erikwijmans/#Pointnet2_PyTorch.git@b5ceb6d9ca0467ea34beb81023f96ee82228f626#egg=pointnet2
#pointnet2-ops
prometheus-client==0.16.0
prompt-toolkit==3.0.37
protobuf==3.20.3
psutil==5.9.4
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser
Pygments==2.14.0
pygraphviz
pyOpenSSL
pyparsing==3.0.9
pyrsistent==0.19.3
PySocks
python-dateutil==2.8.2
pytorch-lightning
pytz==2022.7.1
PyYAML==6.0
pyzmq==25.0.0
qtconsole==5.4.0
QtPy==2.3.0
rdflib==6.2.0
regex==2022.10.31
requests
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn
scipy
Send2Trash==1.8.0
six
smart-open==6.3.0
sniffio==1.3.0
soupsieve==2.4
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
terminado==0.17.1
threadpoolctl==3.1.0
timm==0.4.12
tinycss2==1.2.1
tokenizers==0.13.2
#torch-cluster
#torch-geometric
#torch-scatter
#torch-sparse
#torch-spline-conv
torch-tb-profiler==0.4.1
tornado==6.2
tqdm==4.64.1
traitlets==5.9.0
transformers==4.26.1
trimesh==3.20.1
typing_extensions
urllib3
warmup-scheduler==0.3
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.3
widgetsnbextension==4.0.5
xlrd==2.0.1
yacs==0.1.8
yarl==1.8.2
zipp==3.15.0
